<!DOCTYPE html>
<html lang="en-us">
	<head>
    <meta charset="UTF-8">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
	</head>
	<body>
    <section class="page-header" style="padding: 5rem 5rem 1.50rem;">
      <h1 class="project-name">Marc Lopez</h1>
      <h2 class="project-tagline">Trying to keep up with what&#39;s going on in the world</h2>
      <h2 class="project-tagline"><a class="page-tagline" href="/">Home</a> <a class="page-tagline" style="padding-left:2em" href="/about">About</a> <a class="page-tagline" style="padding-left:2em" href="/blog">Blog</a></h2>
    </section>

    <section class="main-content">

		    {{ content }}


      <footer class="site-footer">

        <span class="site-footer-credits" style="text-align: center">Contact me via <a href="mailto:marc5.12@outlook.com">Email,</a> <a href="https://twitter.com/marclop__">Twitter</a>, <a href="https://github.com/marclop">GitHub</a> or <a href="https://www.linkedin.com/in/marclop">LinkedIn</a>.</span>
  		</footer>
    </section>
          <script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
          try {
            var pageTracker = _gat._getTracker("UA-53695297-2");
          pageTracker._trackPageview();
          } catch(err) {}
        </script>
	</body>
</html>
